body{
	
}

div.separator{
	color: #039be5;
	font-weight: bold;
	font-size: 45px;
	vertical-align: middle;
	display: inline-block;
}

div.digits{
	padding: 15px;
	border-radius: 20px;
	background-color: #039be5;
	color: white;
	font-weight: bold;
	font-size: 45px;
	//text-align: center;
	vertical-align: middle;
	display: inline-block;
}

p{
	color: #039be5;
	font-weight: bold;
	font-size: 15px;
}
